.editor__container{
    height: 82vh;
    background: #fff;
    padding: 15px 12px;
    border: 2px solid #999;
    overflow: auto;
}
.toggle__container .mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard{
    /* margin-bottom: -2px; */
    border-radius: 0;
}
.form__editor > *{
    width: 100%;
}
.form__editor{
    display: flex;
    gap: 10px;
    flex-direction: column;
    /* align-items: flex-end; */
}
.edit-block{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.edit-block img{
    width: 40px;
    height: 40px;
}
.button__container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form__editor mat-button-toggle-group{
    margin: 0 auto;
    width: fit-content !important;
}
.input__number__container{
    display: flex;
    gap: 5px;
}
.input__number__container .mat-form-field{
    width: 65px;
}