.drop__container p{
    margin: 0;
}
.dragElements__item,
.dragElements__item input,
.dragElements__item textarea,
.dragElements__item p,
.dragElements__item select{
    width: 100%;
    outline: none;
}
.dragElements__item input[type='radio'],
.dragElements__item input[type='checkbox']{
    width: auto;
}
.dragElements__item label{
    display: flex;
    align-items: center;
}
.dragElements__item label,
.dragElements__item input,
.dragElements__item textarea,
.dragElements__item p,
.dragElements__item select{
    margin: 5px;
    border-radius: 0px;
    pointer-events: none;
}
.custom-text input{ 
    background: transparent;
    border: none;
    outline: none;
}
.custom-text.selected p{ 
    border-bottom: 2px solid lightslategray;
}
.dragElements__item {
    display: flex;
    align-items: center;
}
.dragElements__item.selected {
    background:rgb(179 255 183 / 47%);
}
