<ng-container [ngTemplateOutlet]="
                component?.tag == 'p' ? textBlock :
                component?.tag == 'input' ? inputBlock :
                component?.tag == 'textarea' ? textareaBlock :
                component?.tag == 'select' ? selectBlock :
                component?.tag == 'button' ? buttonBlock :
                null">
</ng-container>

<ng-template #textBlock>
    <p class="drop__item" [ngStyle]="component?.style">
        {{ component?.value }}
    </p>
</ng-template>
<ng-template #inputBlock>
    <label [ngStyle]="component?.style">
        <span>{{ component.label }}</span>
        <input [ngStyle]="component?.style" class="drop__item" type={{component?.type}} [required]="component.required"
            placeholder={{component.placeholder}} />
    </label>
</ng-template>
<ng-template #labelBlock>
    <label [ngStyle]="component?.style">
        <span>{{ component.label }}</span>
        <input class="drop__item" type={{component?.type}} [required]="component.required"
            placeholder={{component.placeholder}} />
    </label>
</ng-template>
<ng-template #textareaBlock>
    <textarea class="drop__item" [ngStyle]="component?.style" [required]="component.required"
        placeholder={{component.placeholder}}>
    </textarea>
</ng-template>
<ng-template #selectBlock>
    <select [ngStyle]="component?.style" [required]="component.required" class="drop__item">
        <option value="" disabled selected hidden>{{ component.placeholder }}</option>
        <option *ngFor="let option of component?.options" [value]="option">{{ option }}</option>
    </select>
</ng-template>
<ng-template #buttonBlock>
    <button [ngStyle]="component.style" class="drop__item">
        {{component.value}}
    </button>
</ng-template>