<div class="drop__container">
    <div class="drop__header">
        <h1>Form title</h1>
    </div>
    <div class="drop__wrapper">
        <div cdkDropList
             fxLayout="row"
             [cdkDropListData]="addedComponents"
             (cdkDropListDropped)="drop($event)"
             class="drop__body">
            <div cdkDrag
                 class="dragElements__item"
                 *ngFor="let component of addedComponents; index as index"
                 [ngClass]="component?.class || '' "
                 [ngClass]="selectedElementIndex == index ? 'selected' : ''"
                 (cdkDragEntered)="entered($event)"
                 (click)="handleSelect($event, index)">
                <ng-container [ngTemplateOutlet]="
                                                component.tag == 'input' ? inputBlock :
                                                component.tag == 'textarea' ? textareaBlock :
                                                component.tag == 'select    ' ? selectBlock :
                                                null">
                </ng-container>
        
                <ng-template #inputBlock>
                    <input type={{component.type}} placeholder={{component.type}}/>
                </ng-template>
                <ng-template #textareaBlock>
                    <textarea placeholder={{component.type}}></textarea>
                </ng-template>
                <ng-template #selectBlock>
                    <select></select>
                </ng-template>

                <div class="edit-block"> 
                    <img 
                        class="confirm"
                        src="assets/img/right-correct.svg"/>
                    <img
                        class="reset"
                        src="assets/img/remove-cross.svg"/>
                    <img
                        class="delete"
                        src="assets/img/close-red.svg"/>
                </div>
            </div>
        </div>

    </div>


</div>
