.options__wrapper {
    margin-bottom: 9px;

    .input-group{
        display: flex;
        gap: 10px;
        align-items: center;
    }
    .add__button {
        display: flex;
        justify-content: center;
    }
    .add__button img{
        height: 35px;
        cursor: pointer;
        margin: 0 auto;
    }
    .input-group img{
        height: 25px;
    }
}