<form [formGroup]="dragDrop.elementStyle"
      class="form__editor"
      connectForm="element">
    <mat-form-field *ngIf="isFormControlVisible.value" appearance="fill">
        <mat-label>Text</mat-label>
        <input matInput formControlName="value" type="text">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Background color</mat-label>
        <input matInput type="color" formControlName="background" >
    </mat-form-field>
    <div class="numberGroup__block">
        <p>Margin:</p>
        <div class="input__number__container">
            <mat-form-field appearance="fill">
                <mat-label>Top</mat-label>
                <input matInput type="number" formControlName="marginTop" >
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Right</mat-label>
                <input matInput type="number" formControlName="marginRight" >
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Bottom</mat-label>
                <input matInput type="number" formControlName="marginBottom" >
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Left</mat-label>
                <input matInput type="number" formControlName="marginLeft" >
            </mat-form-field> 
        </div>

    </div>
    <div class="numberGroup__block">
        <p>Padding:</p>
        <div class="input__number__container">
            <mat-form-field appearance="fill">
                <mat-label>Top</mat-label>
                <input matInput type="number" formControlName="paddingTop" >
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Right</mat-label>
                <input matInput type="number" formControlName="paddingRight" >
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Bottom</mat-label>
                <input matInput type="number" formControlName="paddingBottom" >
            </mat-form-field>  
            <mat-form-field appearance="fill">
                <mat-label>Left</mat-label>
                <input matInput type="number" formControlName="paddingLeft" >
            </mat-form-field>  
        </div>
    </div>
    <mat-form-field *ngIf="isFormControlVisible.placeholder" appearance="fill">
        <mat-label>Placeholder</mat-label>
        <input matInput formControlName="placeholder" type="text">
    </mat-form-field>
    <mat-button-toggle-group value="left" class="mb-3" formControlName="align" #group = "matButtonToggleGroup">  
    <mat-button-toggle value = "left">  
        <mat-icon>format_align_left</mat-icon>  
    </mat-button-toggle>  
    <mat-button-toggle value = "center">  
        <mat-icon>format_align_center</mat-icon>  
    </mat-button-toggle>  
    <mat-button-toggle value = "right">  
        <mat-icon>format_align_right</mat-icon>  
    </mat-button-toggle>  
    </mat-button-toggle-group>
    <mat-form-field *ngIf="isFormControlVisible.borderColor" appearance="fill">
        <mat-label>Border color</mat-label>
        <input matInput type="color" formControlName="borderColor" >
    </mat-form-field>  
    <mat-form-field *ngIf="isFormControlVisible.borderRadius" appearance="fill">
        <mat-label>Border radius</mat-label>
        <input matInput type="number" formControlName="borderRadius" >
    </mat-form-field>  
    <mat-form-field appearance="fill">
        <mat-label>Font size</mat-label>
        <input matInput type="number" formControlName="fontSize" >
    </mat-form-field>  
    <mat-form-field appearance="fill">
        <mat-label>Font color</mat-label>
        <input matInput type="color" formControlName="fontColor" >
    </mat-form-field>  
    <mat-form-field appearance="fill">
        <mat-label>Font weight</mat-label>
        <input matInput type="number" formControlName="fontWeight" >
    </mat-form-field> 
    <mat-checkbox  *ngIf="isFormControlVisible.required" formControlName="required" class="example-margin">Required:</mat-checkbox>
    <div>
        <p>Container Width:</p>           
        <mat-slider
            class="w-100"    
            formControlName="containerWidth"
            thumbLabel
            tickInterval="auto"
            step="1"
            min="0"
            max="100"
            aria-label="units"></mat-slider>
    </div>
    <div>
        <p>Element Width:</p>           
        <mat-slider
            class="w-100"    
            formControlName="width"
            thumbLabel
            tickInterval="auto"
            step="1"
            min="0"
            max="100"
            aria-label="units"></mat-slider>
    </div>
    <div>
        <p>Height:</p>           
        <mat-slider
            class="w-100"height
            formControlName="height"
            thumbLabel
            tickInterval="auto"
            step="1"
            min="0"
            max="100"
            aria-label="units"></mat-slider>
    </div>
</form>
<div  class="edit-block"> 
    <img 
        (click)="handleUnselect()"
        class="confirm"
        src="assets/img/right-correct.svg"/>
    <img
        (click)="handleRemoveComponent(dragDrop.selectedElementId || 0)"
        class="delete"
        src="assets/img/close-red.svg"/>
</div>