.options__wrapper {
  margin-bottom: 9px;

  .input-group {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
      height: 25px;
    }

    &:first-child {
      img {
        display: none;
      }
    }
  }

  .add__button {
    display: flex;
    justify-content: center;

    img {
      height: 35px;
      cursor: pointer;
      margin: 0 auto;
    }
  }
}
