.drop__container{
    border-radius: 5px;
    padding: 10px 0;
}
.drop__container .drop__header{
    /* background: rgb(19, 192, 13); */
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.drop__container .drop__header h1{
    margin: 0;
    padding: 15px;
    font-size: 29px;
}
.drop__container .drop__wrapper{
    border: 2px solid rgb(163, 163, 163);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    background: #fff;
    overflow: auto;
}
.drop__container .drop__body{
    min-height: 30px;
    /* background: #fff; */
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
}
.drop__container .drop__footer{
    background: rgb(202, 202, 202);
    min-height: 30px;
}
