<div #mainForm
     [ngStyle]="(formStyle$ | ngrxPush).formStyle" 
     class="drop__container">
    <div [ngStyle]="(formStyle$ | ngrxPush).headerStyle" 
         class="drop__header">
        <h1 [ngStyle]="(formStyle$ | ngrxPush).titleStyle">
            {{ (formStyle$ | ngrxPush).title }}
        </h1>
    </div>
    <div class="drop__wrapper">
        <div cdkDropList
             fxLayout="row"
             [cdkDropListData]="addedComponentList"
             (cdkDropListDropped)="drop($event)"
             class="drop__body">
            <ng-container *ngFor="let component of addedComponentList; index as index ">
                <app-drop-item (click)="handleSelect(component)"
                                class="drop__item__container"
                                [component]="component"
                                [style.width.%]="component.parentStyle?.width"
                                [style.textAlign]="component.class == 'custom-text' ? component.parentStyle?.justifyContent : ''"
                                style="width: 100%; text-align: left;"
                                [isSelected]="selectedElementId == component.id ? true : false"></app-drop-item>
            </ng-container>

        </div>
    </div>


</div>
