<div #mainForm
     [ngStyle]="formStyle" 
     class="drop__container">
    <div [ngStyle]="headerStyle" 
         class="drop__header">
        <h1 [ngStyle]="titleStyle">
            {{form.title}}
        </h1>
    </div>
    <div class="drop__wrapper">
        <div cdkDropList
             fxLayout="row"
             [cdkDropListData]="dragDrop.addedComponentList"
             (cdkDropListDropped)="drop($event)"
             class="drop__body">

            <ng-container *ngFor="let component of dragDrop.addedComponentList; index as index ">
                <app-drop-item (click)="handleSelect($event, index)"
                                (onEntered)="entered($event)"
                                [component]="component"
                                style="width: 100%;"
                                [isSelected]="dragDrop.currentSelectedElementIndex == index ? true : false"></app-drop-item>
            </ng-container>

        </div>
    </div>


</div>
